<section>
    <div class="titulos">
        <h4 class="masthead-heading text-uppercase  mb-0">Ordenes</h4>
    </div>

    <select class="form-select tipoOrdenes" aria-label="Default select example" [(ngModel)]="datoSelecionado" (change)="capturar()" (change)="obtenerOrdenes()">
        <option *ngFor="let estado of estadoOrdenes" [value]="estado._id">{{estado.nombre}}</option>
    </select>
    <div class="detalleOrdenes">
        <div *ngIf="datoSelecionado== '61b2c418f8ed6e8b150d2d38'">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes">
                        <td>{{orden.nombre}}</td>
                        <td>{{orden.ubicacion}}</td>
                        <td>{{orden.numberPhone}}</td>
                        <td>
                            <div *ngFor="let producto of orden.productos"><b>Producto:</b> {{producto.nombreProducto}} || <b>tienda:</b> {{producto.tienda}} || <b>cantidad:</b> {{producto.cantidad}} || <b>desripcion:</b> {{producto.descripcion}} </div>
                        </td>
                        <button class="btn" (click)= "cambiarEstado(datoSelecionado, orden._id)">Tomar Orden</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="detalleOrdenes">
        <div *ngIf="datoSelecionado== '61b2c418f8ed6e8b150d2d39'">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ordenEntregar of ordenes">
                        <td >{{ordenEntregar.nombre}}</td>
                        <td>{{ordenEntregar.ubicacion}}</td>
                        <td>{{ordenEntregar.numberPhone}}</td>
                        <td>
                            <div *ngFor="let producto of ordenEntregar.productos"><b>Producto:</b> {{producto.nombreProducto}} || <b>tienda:</b> {{producto.tienda}} || <b>cantidad:</b> {{producto.cantidad}} || <b>desripcion:</b> {{producto.descripcion}} </div>
                        </td>
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#detalleModal">Estado</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="detalleOrdenes">
        <div *ngIf="datoSelecionado== '61b2c418f8ed6e8b150d2d3a'">
            <table class="table" id="entregadas">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ordenEntregadas of ordenes">
                        <td >{{ordenEntregadas.nombre}}</td>
                        <td>{{ordenEntregadas.ubicacion}}</td>
                        <td>{{ordenEntregadas.numberPhone}}</td>
                        <td>
                            <div *ngFor="let producto of ordenEntregadas.productos"><b>Producto:</b> {{producto.nombreProducto}} || <b>tienda:</b> {{producto.tienda}} || <b>cantidad:</b> {{producto.cantidad}} || <b>desripcion:</b> {{producto.descripcion}} </div>
                        </td>
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#detalleFinalizadoModal">Estado</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal Estado de orden -->
    <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" *ngFor="let ordenEntrega of ordenes">
                <div class="modal-header" style="background-color: #FE5755;">
                    <h5 class="modal-title" id="detalleModalLabel">Descripcion Orden</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body detalleOrden" >
                    <div id="panelOrden1">
                        <label>Cliente: </label>
                        <p>{{ordenEntrega.nombre}}</p>
                        <label>Ubicacion: </label>
                        <p>{{ordenEntrega.ubicacion}}</p>
                        <label>Contacto: </label>
                        <p>{{ordenEntrega.numberPhone}}</p>
                    </div>
                    <div id="panelOrden2" *ngFor="let producto of ordenEntrega.productos">
                        <label>Descripcion de la orden: </label>
                        <p>{{producto.nombreProducto}}</p>
                        <label>Detalle Factura: </label>
                        <p>- {{producto.tienda}}</p>
                        <p>-L. {{producto.precio}}</p>
                        <p>- {{producto.cantidad}}</p>
                        <p>- {{producto.descripcion}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-estados">Tomada</button>
                    <button class="btn-estados">En el lugar </button>
                    <button class="btn-estados">En camino </button>
                    <button class="btn-estados" (click)= "cambiarEstado(datoSelecionado, ordenEntrega._id)">En el Destino </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Estado de orden finalizada -->
    <div class="modal fade" id="detalleFinalizadoModal" tabindex="-1" aria-labelledby="detalleFinalizadoModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #FE5755;">
                    <h5 class="modal-title" id="detalleFinalizadoModal">Descripcion Orden</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body detalleOrden" *ngFor="let ordenEntregar of ordenesEntregar">
                    <div id="panelOrden1">
                        <label>Cliente: </label>
                        <p>{{ordenEntregar.nombreCliente}} Amaya amador</p>
                        <label>Ubicacion: </label>
                        <p>{{ordenEntregar.ubicacion}} Distrito cental Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, pariatur!</p>
                        <label>Contacto: </label>
                        <p>{{ordenEntregar.contacto}}</p>
                    </div>
                    <div id="panelOrden2">
                        <label>Descripcion de la orden: </label>
                        <p>{{ordenEntregar.descripcion}}</p>
                        <label>Detalle Factura: </label>
                        <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <p>- Numquam ipsam provident dignissimos aperiam, asperiores temporibus dolores ea incidunt voluptates in!</p>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</section>