<section class="imagenInicio principal" style="background-color: white; display: block;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner text-center ">
            <div class="carousel-item active my-4">
                <img src="assets/img/logo.png" class="c-block" alt="..." width="500px">
            </div>
            <div class="carousel-item my-4">
                <img src="assets/img/hiring.webp" class="c-block" alt="..." width="500px" height="325.7px">
            </div>
        </div>
        <button class="colorflecha carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
        <button class="colorflecha carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
</section>

<section class="regis">
    <p class="text-center" style="margin-bottom: 0px!important;">
        <a class="nav-link" id="a-singin" [routerLink]="['Singin']">Registrarse</a>
    </p>
</section>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="background-color: #C2C2C2!important;">
    <!-- Section: Links  -->
    <section class="" style="padding-top: 10px;">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Quienes somos
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Socios
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Mall Premier</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Grupo Q</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Grupo Intur</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Ayuda y Contactos
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Honduras</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +504 8855-4477</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #654878;color: white;">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">www.cuick.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->